* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

p {
    font-size: 50px;
}

nav {
    padding: 1%;
    height: 9%;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: row-reverse;
}

nav a {
    margin: 10px;
}

form {
    width: 40%;
}

@media (min-width: 726px) and (max-width: 1024px) {
    form{
        width: 50%;
    }
}

@media (min-width: 320px) and (max-width: 726px) {
    form{
        width: 70%;
    }
}

@media (min-width: 0px) and (max-width: 320px) {
    form{
        width: 80%;
    }
}

#search {
    display: flex;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    margin-bottom: 8em;
    display: flex;
    justify-content: center;
}

.relative {
    position: relative;
}

.searchbar {
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 12px;
    font-size: 16px;
    padding-left: 10px;
}

.searchbar:hover {
    box-shadow: lightgray 0px 0px 2px 2px;
}

.lupa {
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    
}

.lupa button {
    height: 32px;
    width: 32px;
    margin: 4px;
    background: url("test.png");
    border: none;
    opacity: 50%;
}

.lupa button:hover {
    opacity: 70%;
    cursor: pointer;
}

.container button {
    margin: 10px;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 6px;
    color: gray;
}

.container button:hover {
    border: 1px solid lightslategrey;
    cursor: pointer;
    color: #252525;
    box-shadow: lightslategray 0px 0px 1px 1px;
}