* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

p {
    font-size: 50px;
}

nav {
    padding: 1%;
    height: 9%;
    letter-spacing: 0.6px;
    display: flex:
}

nav a {
    margin: 10px;
}

form {
    width: 40%;
}

#search {
    display: flex;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    margin-bottom: 8em;
    display: flex;
    justify-content: center;
}

.container button {
    margin: 10px;
}

.searchbar {
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 12px;
    font-size: 16px;
    padding-left: 10px;
}

.searchbar:hover {
    box-shadow: lightgray 0px 0px 2px 2px;
}

button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 6px;
    color: gray;
}

button:hover {
    border: 1px solid lightslategrey;
    cursor: pointer;
    color: #252525;
    box-shadow: lightslategray 0px 0px 1px 1px;
}